<!DOCTYPE html>
<html>
<head>
    <title>XYZ app</title>
</head>
<body>
    <h1>Apple</h1>
    <table border="1">
        <tr>
          <th>Features</th>
          <th>iPhone 15</th>
          <th>iPhone 15 Pro</th>
        </tr>
        <tr>
          <td>Display</td>
          <td>6.1-inch OLED</td>
          <td>6.7-inch ProMotion OLED</td>
        </tr>
        <tr>
          <td>Camera</td>
          <td>Dual-lens system</td>
          <td>Triple-lens system with LiDAR</td>
        </tr>
        <tr>
          <td>Battery Life</td>
          <td>Up to 18 hours of talk time</td>
          <td>Up to 20 hours of talk time</td>
        </tr>
    </table>
    <form method="POST" action="/compare">
        <button type="submit">BACK</button>
    </form>




</body>
</html>