<!DOCTYPE html>
<html>
<head>
    <title>XYZ app</title>
</head>
<body>
    <h1>Samsung</h1>
    <table border="1">
        <tr>
          <th>Features</th>
          <th>Samsung S22</th>
          <th>Samsung S23</th>
        </tr>
        <tr>
          <td>Display</td>
          <td>6.5-inch Dynamic AMOLED</td>
          <td>6.7-inch Super AMOLED+</td>
        </tr>
        <tr>
          <td>Camera</td>
          <td>Triple-lens system with 108MP main</td>
          <td>Quad-lens system with 120MP main</td>
        </tr>
        <tr>
          <td>Battery Life</td>
          <td>Up to 4000mAh</td>
          <td>Up to 4500mAh</td>
        </tr>
      </table>
      <form method="POST" action="/compare">
        <button type="submit">BACK</button>
    </form>
    

</body>
</html>