

<html>
    <head>
        <title> Auth app </title>
        <style>
            * {font-size:40px}
            </style>
    </head>
    <body>
        <center>
            <h1> Login Page </h1>
            <form action = "/login" method = "POST">
            <input type = "text" name = "un" placeholder = "enter username" required>
                <br><br>
                <input type = "password" name = "pw" placeholder = "enter password" required>
                    <br><br>
                    <input type = "submit" value = "Login">
                        
                </form>
            {{ msg }}
            <a href = "{{ url_for("signup")}}"> New Users SignUp Here </a>
            </center>
        
        </body>
    
    
    </html>

