
<html>
    <head>
        <title> Auth App </title>
        <style>
            * { font-siz:40px;}
            </style>
        </head>
    
    
    <body>
        <center>
        <h1> Forgot Password </h1>
        <form action = "/forgotpassword" method = "POST">
            <input type = "email" name = "un" placeholder = "enter registered email" required>
                <br><br>
                
                <input type = "submit" value = "Send Password">
                    </form>
        {{ msg }}
        <a href = "{{ url_for("login")}}"> Login </a>
        
        </center>
        </body>
    </html>
